@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color:#374151;
}
.custom-img{
    background-image: url('https://i.pinimg.com/564x/f8/7a/fb/f87afbc4d8eeac57a2d115138a46ed77.jpg');
}

@media screen and (min-width:640){
    .custom-text{
        gap: 3rem;
    }
    
}
@media screen and (min-width:768px){
    .custom-text{
        gap: 4rem;
    }
    
}